:root {
    --navy: #152144;
    --pink:  #ffeef2;
    --white: white;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Spectral', serif;
    color: var(--navy);
}

.top-bar {
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 80px;
    padding: 0 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    font-size: 18px;
    transition: background-color 0.5s;
}

.top-bar.is-scrolled {
    background-color: var(--navy);
}

.top-bar .title {
    flex-grow: 0;
    font-size: 32px;
}

.top-bar .hamburger {
    display: none;
}

.top-bar .side-menu {
    display: none;
}

.top-bar .sections {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.top-bar .sections a {
    margin: 0 10px;
    padding: 0 10px;
    display: block;
    position: relative;
    line-height: 50px;
}

.top-bar .sections a::after {
    content: '';
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;
    height: 2px;
    background-color: var(--white);
    opacity: 0;
    transition: opacity 0.5s, transform 0.5s;
  }

.top-bar .sections a:hover::after,
.top-bar .sections a:focus::after {
    opacity: 1;
    transform: translate3d(0, 3px, 0);
  }

.top-bar .actions {
    flex-grow: 0;
}

.top-bar .actions .button {
    color: var(--navy);
    background-color: var(--white);
    padding: 12px 20px;
    transition: color 0.25s, background-color 0.5s, box-shadow 0.5s;
}

.top-bar .actions .button:hover,
.top-bar .actions .button:focus {
    color: var(--white);
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: inset 0 0 0 2px var(--white);
}

.top-bar a {
    color: var(--white);
    text-decoration: none;
}

#main {
    height: 100vh;
    background-image: url('../images/main.jpg');
    background-size: cover;
    background-position: center;
}

.section {
    scroll-margin-top: 80px;
    padding: 80px 0;
}

.section:nth-child(even) {
    background-color: var(--pink);
}

.section h1 {
    text-align: center;
    font-family: 'Satisfy', cursive;
    font-size: clamp(2rem, 1.0000rem + 5.3333vw, 4rem);
    padding: 0 4vw;
    margin-bottom: 80px;
}

.section h2 {
    text-align: center;
    font-size: clamp(1rem, 0.5000rem + 2.6667vw, 2rem);
}

.section p {
    margin-bottom: 20px;
    padding: 0 180px;
    font-size: clamp(1rem, 0.8750rem + 0.6667vw, 1.25rem);
}

#the-wedding {
    text-align: center;
}

.countdown-container {
    background-color: var(--pink);
    padding: 40px;
    width: 92vw;
    max-width: 600px;
    margin: 0 auto 80px;
    font-size: clamp(0.75rem, 0.5000rem + 1.3333vw, 1.25rem);
}

.countdown {
    display: flex;
    justify-content: center;
    font-weight: 700;
    margin-bottom: 40px;
}

.countdown .segment {
    flex: 1;
    text-align: center;
}

.countdown .segment .value {
    font-size: clamp(1.5rem, 0.7500rem + 4.0000vw, 3rem);
}

.itinerary {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 2vw;
}

.itinerary .event {
    flex: 1;
    text-align: center;
    margin: 0 2vw;
    font-size: clamp(1rem, 0.2500rem + 1.3333vw, 1.25rem);
}

.itinerary .event img {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 16/9;
    margin-top: 8px;
}

.itinerary .event .name {
    font-weight: 700;
}

.person-group {
    display: flex;
    justify-content: center;
    margin: 0 2vw 80px;
}

.person {
    padding: 0 2vw;
    text-align: center;
    width: 33%;
    max-width: 400px;
    font-size: clamp(1rem, 0.8750rem + 0.6667vw, 1.25rem);
}

.person img {
    width: 100%;
    margin: 0 auto 8px;
    border-radius: 50%;
}

.person .name {
    font-family: 'Satisfy', cursive;
    font-size: clamp(1.5rem, 1.2500rem + 1.3333vw, 2rem);
}

.person .role {
    font-size: clamp(1.25rem, 1.1250rem + 0.6667vw, 1.5rem);
    font-weight: 700;
}

.person .character {
    margin-top: 16px;
    font-style: italic;
}

.faq {
    padding: 0 120px;
    margin-bottom: 40px;
    font-size: clamp(1rem, 0.8750rem + 0.6667vw, 1.25rem);
    text-align: center;
}

.faq:last-child {
    margin-bottom: 0;
}

.faq .question {
    font-weight: 700;
}

@media only screen and (max-width: 900px) {
    .top-bar {
        padding-right: 0;
        height: auto;
    }

    .top-bar .hamburger {
        cursor: pointer;
        display: initial;
        padding: 40px 30px;
    }

    .top-bar .hamburger-line {
        background: var(--white);
        display: block;
        height: 2px;
        position: relative;
        width: 24px;
    }

    .top-bar .hamburger-line::before,
    .top-bar .hamburger-line::after {
        background: var(--white);
        content: '';
        display: block;
        height: 100%;
        position: absolute;
        width: 100%;
    }

    .top-bar .hamburger-line::before {
        top: 8px;
    }

    .top-bar .hamburger-line::after {
        top: -8px;
    }

    .top-bar .sections,
    .top-bar .actions {
        display: none;
    }

    .top-bar .side-menu:checked ~ .hamburger .hamburger-line {
        background: transparent;
    }

    .top-bar .side-menu:checked ~ .hamburger .hamburger-line::before {
        transform: rotate(-45deg);
        top: 0;
    }

    .top-bar .side-menu:checked ~ .hamburger .hamburger-line::after {
        transform: rotate(45deg);
        top: 0;
    }

    .top-bar .side-menu:checked ~ .sections {
        display: flex;
        flex-direction: column;
        flex-basis: 100%;
    }

    .top-bar .side-menu:checked ~ .sections a {
        width: fit-content;
        margin: 0;
        left: -10px;
    }

    .top-bar .side-menu:checked ~ .actions {
        display: flex;
        flex-direction: column;
        flex-basis: 100%;
        margin: 30px 0;
    }

    .top-bar .side-menu:checked ~ .actions .button {
        width: fit-content;
    }

    .section {
        padding: 8vw 0;
    }

    .section h1 {
        margin-bottom: 8vw;
    }

    .section p {
        margin-bottom: 8vw;
        padding: 0 4vw;
    }

    .section p:last-child {
        margin-bottom: 0;
    }

    .countdown-container {
        padding: 8vw;
        margin: 0 auto 8vw;
    }

    .countdown {
        margin-bottom: 8vw;
    }

    .itinerary {
        flex-direction: column;
    }

    .itinerary .event {
        max-width: 600px;
        margin-bottom: 8vw;
        font-size: clamp(1rem, 0.8750rem + 0.6667vw, 1.25rem);
    }

    .itinerary .event:last-child {
        margin-bottom: 0;
    }

    .person-group {
        flex-direction: column;
        margin-bottom: 8vw;
    }

    .person-group:last-child {
        margin-bottom: 0;
    }

    .person {
        width: 100%;
        max-width: 500px;
        margin: 0 auto 8vw;
    }

    .person:last-child {
        margin-bottom: 0;
    }

    .person img {
        width: 80%;
    }

    .person .character {
        margin-top: 4vw;
    }

    .faq {
        padding: 0 4vw;
        margin-bottom: 8vw;
    }
}
