html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Spectral', serif;
}

.top-bar {
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 80px;
    padding: 0 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: transparent;
    font-size: 18px;
    transition: background-color 0.5s;
}

.top-bar.is-scrolled {
    background-color: #222;
}

.top-bar .title {
    flex-grow: 0;
    font-size: 32px;
}

.top-bar .sections {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.top-bar .sections a {
    margin: 0 10px;
    padding: 0 10px;
    display: block;
    position: relative;
    line-height: 50px;
}

.top-bar .sections a::after {
    content: '';
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;
    height: 2px;
    background-color: white;
    opacity: 0;
    transition: opacity 0.5s, transform 0.5s;
  }

.top-bar .sections a:hover::after,
.top-bar .sections a:focus::after {
    opacity: 1;
    transform: translate3d(0, 3px, 0);
  }

.top-bar .actions {
    flex-grow: 0;
}

.top-bar .actions .button {
    color: #222;
    background-color: white;
    padding: 12px 20px;
    transition: color 0.25s, background-color 0.5s, box-shadow 0.5s;
}

.top-bar .actions .button:hover,
.top-bar .actions .button:focus {
    color: white;
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: inset 0 0 0 2px white;
}

.top-bar a {
    color: white;
    text-decoration: none;
}

#main {
    min-height: 800px;
    height: 100vh;
    background-image: url('../images/main.jpg');
    background-size: cover;
    background-position: center;
}

.section {
    scroll-margin-top: 80px;
    padding: 80px 0;
}

.section:nth-child(even) {
    background-color: #ffeef2;
}

.section h1 {
    text-align: center;
    font-family: 'Satisfy', cursive;
    font-size: 48px;
    margin-bottom: 80px;
    color: #092570;
}

.section h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 32px;
}

.section p {
    margin-bottom: 20px;
    padding: 0 180px;
}

.countdown {
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
}

.countdown .segment {
    width: 150px;
    text-align: center;
}

.countdown .segment .value {
    font-size: 50px;
}

.countdown .segment .label {
    font-size: 20px;
}

.itinerary {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 40px;
}

.itinerary img {
    height: 400px;
}

.itinerary .event {
    flex: 1;
    text-align: center;
    margin-left: 20px;
}

.itinerary .event .name {
    font-size: 20px;
    font-weight: 700;
}

.person-group {
    display: flex;
    justify-content: center;
}

.person {
    padding: 0 30px;
    text-align: center;
    width: 25%;
}

.person img {
    width: 100%;
    margin-bottom: 10px;
    border-radius: 50%;
    aspect-ratio : 1/1;
}

.person .name {
    font-size: 28px;
    font-family: 'Satisfy', cursive;
    margin-bottom: 6px;
}

.person .role {
    font-size: 20px;
    font-weight: 700;
}

.person .bio {
    font-size: 16px;
}

.person .character {
    font-size: 16px;
    margin-top: 16px;
    font-style: italic;
}

.faq {
    padding: 0 120px;
    margin-bottom: 40px;
    font-size: 20px;
    text-align: center;
}

.faq .question {
    font-weight: 700;
}
